/* header */

a{
    text-decoration: none;
    color: black;
}
.header{
    background-color:white;
    max-width: 100%;
    position:sticky;
    top:0;
    z-index:99999;
    border-bottom: 1px solid grey;
    margin: 0 0 57px 0;
}
.wrapper-header{
    max-width: 1160px;
    display: flex;
    margin: 0 auto;
    align-items:center;
    justify-content: space-between;
}
.header-list{
    display:flex;
    justify-content: space-between;
    list-style-type:none;
}
.link-header-nav{
    margin: 0 65px 0 0;
}
.link-header-nav:hover{
    color: #A69876;
}
.link-header-nav:last-child{
    margin: 0 0 0 0;
}
.icons_header > button{
    margin: auto auto;
    border: none; 
    background-color: transparent;
    height: 18px;;
}
.icons_header > button:hover{
    background-color:#A69876;
    border-radius:5px;
    transition: background-color 0.5s ease;
}

/* header */

/* main */

.wrapper-main{
    margin: 0 auto;
    max-width: 1160px;
}
.tab{
    color:#B3B3B3;
    margin:0 14px 0 14px;
}
.tab:last-child{
    color: black;
}
.tab:first-child{
    margin:0 14px 0 0;
}
.wrapper-naming-sort{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sort{
    color:#B3B3B3;
}
.wrapper-aside-watches{
    display: flex;
    justify-content: space-between;
}
.helping_filter{
    width: 230px;
    margin:0 94px 0 0;
}
.watches{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 836px;
    margin:0 0 0 0;
}
.row{
    display: flex;
    justify-content: space-between;
}
.card{
    max-width: 252px;
    box-sizing: border-box;
    padding: 20px 0 0 20px;
    border:solid 1px;
}   
.card img{
    max-width: 100%;
}
.link-card{
    margin: 0 40px 40px 0;
}
.link-card:last-child{
    margin:0 0 40px 0;
}
.card_img_watch_6{
    max-width: 100%;
}
#banner{
    padding:0;
    height: 100%;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}
.pre_footer{
    margin: 57px auto 80px;
    max-width: 1160px;    
}
.belt_{
    display: flex;
}
.belt_ a{
    margin:0 40px 0 0;
    padding: 20px;
    box-sizing: border-box;
    max-width: 360px
}
.belt_ a:last-child{
    margin: 0 0 0 0;
}

.see_all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.call-belt{
    font-size: 32px;
    font-family: 'Playfair Display';
    margin:0 0 37.5px 0;
}
.views_all{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 0 12.5px 0;
    border-bottom: 1px solid #C4C0B6;
    margin:0 0 37.5px 0;
}
.name-belt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}
.belt_price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

/* main end */

/* footer start */

footer{
    background-color: #444240;
    color:white
}
.footer_logo{
    margin: 0 0 7px 0;
}
.background_footer{
    margin: 0 auto;
    max-width: 1160px;
    display:flex;
    justify-content: space-between;
    padding: 67px 0 0 0;
}
.about_company, .buyers, .services{
    padding: 12px 0 0 0;
}
footer a{
    color:white;
}
footer ul{
    list-style: none;
    vertical-align: middle;
    padding: 0;
}
footer a:hover{
    color:#C4C0B6 ;
}
/* footer end */





